* {
  box-sizing: border-box;
}

html,
body {
  background: black;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  height: 104%;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  height: 100%;
  font-family: sans-serif;
}

.logo {
  width: 225px;
  height: 227px;
  background: rgba(255, 255, 255, 0.2);
}

video {
  margin: 0 auto;
  width: 215px;
  margin: 5px 5px;
}

 .logo video {
  overflow: hidden;
  border: 1px solid #444;
  color: #999999;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
  -webkit-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
  outline: none;
}

.left-column {
  background-color: black;
  width: 25%;
  margin-top:9px
}


.right-column {
  background-image: url('../../img/backgrounds/index_background.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 1200px;
  width: 75%;
  margin: -300px 0 0 5px;
}


.link-wrap-left,
.link-wrap-right {
  display: flex;
}

.link-wrap-left a,
.link-wrap-right a {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.menu {
  background: black;
  width: 240px;
  top: 0;
  left: 0;
}

.menu-button {
  width: 240px;
  height: 90px;
  background-color: transparent;
  border: none;
  position: relative;
}

.menu-button-title-1 {
  position: absolute;
  margin-left: 105px;
  color: #d2b600;
  margin-top: -60px;
  font-size: 20px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-title-2 {
  position: absolute;
  margin-left: 130px;
  color: #d2b600;
  margin-top: -60px;
  font-size: 20px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-long-title {
  position: absolute;
  margin-left: 70px;
  color: #d2b600;
  margin-top: -80px;
  font-size: 20px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-subtitle-1 {
  position: absolute;
  margin-left: 115px;
  color: white;
  margin-top: -30px;
  font-size: 15px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-subtitle-2 {
  position: absolute;
  margin-left: 115px;
  color: white;
  margin-top: -30px;
  font-size: 15px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-subtitle-3 {
  position: absolute;
  margin-left: 110px;
  color: white;
  margin-top: -30px;
  font-size: 15px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-subtitle-4 {
  position: absolute;
  margin-left: 105px;
  color: white;
  margin-top: -30px;
  font-size: 15px;
  font-family: barkerville;
  pointer-events: none;
}

.menu-button-subtitle-5 {
  position: absolute;
  margin-left: 134px;
  color: white;
  margin-top: -30px;
  font-size: 15px;
  font-family: barkerville;
  pointer-events: none;
}

.tools-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.tool {
  margin-right: 10px;
}

p {
  color: #999999;
  text-align: center;
  margin-top: 1.16em;
  width: 321;
  height: 233;
}


@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  html,
  body {
    background: black;
    height: auto;
    overflow-y: auto;
  }

  .avatar img {
    width: 300px;
  }

  .tools-container {
    position: relative;
    display: inline-block;
  }

  .tool-center {
    float: left;
    width: 20%;
    text-align: center;
  }

  .menu {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
  }

  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }

  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }

  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }

  .menu-button {
    width: 240px;
    height: 90px;
    background-color: transparent;
    border: none;
    position: relative;
  }

  .menu-button-title-1 {
    position: absolute;
    margin-left: 105px;
    color: #d2b600;
    margin-top: -60px;
    font-size: 20px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-title-2 {
    position: absolute;
    margin-left: 130px;
    color: #d2b600;
    margin-top: -60px;
    font-size: 20px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-long-title {
    position: absolute;
    margin-left: 70px;
    color: #d2b600;
    margin-top: -80px;
    font-size: 20px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-subtitle-1 {
    position: absolute;
    margin-left: 115px;
    color: white;
    margin-top: -30px;
    font-size: 15px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-subtitle-2 {
    position: absolute;
    margin-left: 115px;
    color: white;
    margin-top: -30px;
    font-size: 15px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-subtitle-3 {
    position: absolute;
    margin-left: 110px;
    color: white;
    margin-top: -30px;
    font-size: 15px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-subtitle-4 {
    position: absolute;
    margin-left: 105px;
    color: white;
    margin-top: -30px;
    font-size: 15px;
    font-family: barkerville;
    pointer-events: none;
  }

  .menu-button-subtitle-5 {
    position: absolute;
    margin-left: 134px;
    color: white;
    margin-top: -30px;
    font-size: 15px;
    font-family: barkerville;
    pointer-events: none;
  }

  .left-column {
    width: auto;
    display: inline-block;
    position: relative;
  }

  .link-wrap-left {
    padding: 15px;
    text-align: center;
  }

  .right-column {
    display: none;
  }

  .tool-center,
  .menu,
  .main,
  .right {
    width: 100%;
  }
}