* {
    box-sizing: border-box;
    cursor: url('https://raw.githubusercontent.com/imc89/ABYSSE/main/img/cursor/mainCursor_1.png') 32 32, auto;
    /* -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; */
}

#change-cursor:hover {
    cursor: url('https://raw.githubusercontent.com/imc89/ABYSSE/main/img/cursor/mainCursor_2.png') 32 32, auto;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.topcorner{
    position:absolute;
    top:0;
    right:0;
}

.leftcorner{
    position:absolute;
    top:0;
    left:0;
}

.infoBox {
   width: 900px;
   margin: auto;
   background-color: black;
   padding: 25px;
   box-shadow: 0px 2px 8px 0px rgba(18,104,150,0.5), 0px 4px 16px 0px rgba(107,172,201,0.5);
   border-radius: 20px;
   margin-bottom: 25px;
}
